In [ ]:
print("Hello World!")

In [ ]:
user_age = int(input("Enter your age: "))

bus_fee = None
air_fee = None

if (user_age <= 7):
    bus_fee = 0
elif (user_age <= 18):
    bus_fee = 1
elif (user_age <= 50):
    bus_fee = 5
else:
    bus_fee = 2
    
print('Your transportation fee:', bus_fee, "USD")

In [ ]:
user_age = int(input("Enter your age: "))
ticket_type = input("Enter ticket type(econom/busines): ")

air_fee = None

if user_age <= 7:
    if ticket_type == "econom":
        air_fee = 200
    elif ticket_type == "busines":
        air_fee = 400
    else:
        print('Your ticket class is invalid!')
elif user_age <= 18:
    if ticket_type == "econom":
        air_fee = 350
    elif ticket_type == "busines":
        air_fee = 700
    else:
        print('Your ticket class is invalid!')
elif user_age <= 50:
    if ticket_type == "econom":
        air_fee = 600
    elif ticket_type == "busines":
        air_fee = 1200
    else:
        print('Your ticket class is invalid!')
else:
    if ticket_type == "econom":
        air_fee = 400
    elif ticket_type == "busines":
        air_fee = 800
    else:
        print('Your ticket class is invalid!')
        
        
print('Your transportation fee:', air_fee, "USD")

In [1]:
print("Hello World!")

Hello World!

In [3]:
i = 1
res = 0

while i <= 20: 
    res += i
    print(res, end=' ')
    i += 1

1 3 6 10 15 21 28 36 45 55 66 78 91 105 120 136 153 171 190 210

In [2]:
i = 0

while i <= 100:
    if i % 2 == 0:
        print(i, end=' ') 
    i += 1

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [1]:
for i in range(0, 101, 1): 
    if i % 2 == 0: 
        print(i, end=' ')

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

Задача 2: У вас есть список чисел: [1, 2, 3, 1, 2, 3]. Твоя задача - поменять местами каждые два соседних числа и получить новый список. Например, из списка [1, 2, 3, 1, 2, 3] сделать [2, 1, 1, 3, 3, 2].

In [11]:
listOne = [1, 2, 3, 1, 2, 3]

def neighbourSwitch(value):
    for i in range(0, len(value) - 1, 1):
        value[i], value[i + 1] = value[i + 1], value[i] 
    
    return value
    
print(neighbourSwitch(listOne))

[2, 3, 1, 2, 3, 1]

In [1]:
my_dict = {'b': 2, 'a': 1, 'c': 3}
sorted_dict_values = dict(sorted(my_dict.items(), key=lambda item: item[1]))
print(sorted_dict_values)

{'a': 1, 'b': 2, 'c': 3}

In [1]:
str = 'd'
word = 'qwerty'

print(word.replace('a',str))

qwerty

In [28]:
def DNA_strand(dna):
    # code here
    dna = list(dna)
    for i in range(len(dna)):
        if dna[i] == 'A':
            dna[i] = 'T'
        elif dna[i] == 'T':
            dna[i] = 'A'
        elif dna[i] == 'C':
            dna[i] = 'G'
        elif dna[i] == 'G':
            dna[i] = 'C'
            
    return ''.join(dna)

print(DNA_strand('AAAA'))
print(DNA_strand('ATTGC'))
print(DNA_strand('GTAT'))
print(DNA_strand('CATA'))

TTTT
TAACG
CATA
GTAT