In [3]:
import json

In [4]:
f = open('actor_info.json', 'r')
data = json.load(f)
f.close()

In [5]:
data

{'name': 'Brad', 'age': 50, 'accupation': 'actor'}

In [6]:
type(data)

dict

In [7]:
type(data["age"])

int

In [8]:
flights = {
    "dep":"seoul",
    "arr":"ast",
    "dur":3,
    "price":[350000, 400000, 230230]
}
f = open('flight.json', 'w')
json.dump(flights, f)
f.close()

In [16]:
data = [
    {"dep":"seoul","arr":"ast","dur":4.5,"price":230230},
    {"dep":"ast","arr":"seoul","dur":2.3,"price":233000},
    {"dep":"sco","arr":"chn","dur":1.3,"price":567533},
    {"dep":"msc","arr":"ast","dur":3.1,"price":879683},
    {"dep":"ptr","arr":"msc","dur":5.5,"price":332434},
    {"dep":"chn","arr":"ast","dur":0.3,"price":985634}
    ]
# f = open('data_flights.json', 'w')
# json.dump(data, f)
# f.close()

with open('data_flights.json', 'w') as file:
    json.dump(data, file)

with open('data_flights.json', 'r') as file:
    load_file = json.load(file)

load_file

[{'dep': 'seoul', 'arr': 'ast', 'dur': 4.5, 'price': 230230},
 {'dep': 'ast', 'arr': 'seoul', 'dur': 2.3, 'price': 233000},
 {'dep': 'sco', 'arr': 'chn', 'dur': 1.3, 'price': 567533},
 {'dep': 'msc', 'arr': 'ast', 'dur': 3.1, 'price': 879683},
 {'dep': 'ptr', 'arr': 'msc', 'dur': 5.5, 'price': 332434},
 {'dep': 'chn', 'arr': 'ast', 'dur': 0.3, 'price': 985634}]