### NumPy: Логическое индексирование [Домашнее задание]
> **Вы должны импортировать все необходимые пакеты самостоятельно.**

> **Пишите код только там, где это показано для записи. Не удаляйте комментарии!**

1. Пожалуйста, напишите функцию ```load_data(filename)```, которая будет загружать данные из csv-файла в список списков. Пожалуйста, напишите функцию load_data (имя файла), которая будет загружать данные из csv-файла в список списков. Файл ```Social_Network_Ads.csv``` предоставлен вместе с этим jupyter notebook.


**Примечание:** В случае, если имя файла задано неверно, функция ```load_data``` должна вывести следующее сообщение об ошибке:

```{имя файла} does not exist```

In [2]:
# Начало вашего кода
import numpy as np
import csv
import os


def load_data(filename=None):
    if not os.path.exists(filename):
        return f"./{filename} does not exist", None
    
    with open(filename, 'r') as file:
        reader = csv.DictReader(file)
        data = []
        header = reader.fieldnames
        for row in reader:
            row_data = []
            row['User ID'] = int(row['User ID'])
            row['Gender'] = row['Gender'].title()
            row['Age'] = int(row['Age'])
            row['EstimatedSalary'] = int(row['EstimatedSalary'])
            row['Purchased'] = int(row['Purchased'])
            for col in header:
                row_data.append(row[col])
            data.append(row_data)

    return header, data
# Конец вашего кода

In [3]:
filename = "SocialNetworkAds.csv"
header, data = load_data(filename=filename)

### Ожидаемый результат:

```
./SocialNetworkAds.csv does not exist
```

In [4]:
print(header)
print(data)

./SocialNetworkAds.csv does not exist
None

### Ожидаемый результат:

```
None
None
```

In [5]:
filename = "./Social_Network_Ads.csv"
header, data = load_data(filename=filename)

In [6]:
print(header)

['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased']

### Ожидаемый результат:

```
['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased']
```

In [7]:
for i in range(5):
    print(data[i])

[15624510, 'Male', 19, 19000, 0]
[15810944, 'Male', 35, 20000, 0]
[15668575, 'Female', 26, 43000, 0]
[15603246, 'Female', 27, 57000, 0]
[15804002, 'Male', 19, 76000, 0]

### Ожидаемый результат:

```
['15624510', 'Male', '19', '19000', '0']
['15810944', 'Male', '35', '20000', '0']
['15668575', 'Female', '26', '43000', '0']
['15603246', 'Female', '27', '57000', '0']
['15804002', 'Male', '19', '76000', '0']
```

2. Пожалуйста, напишите функцию ```preprocess_data(data)```, которая преобразует все элементы типа ```str``` в списке ```data``` в целые числа.


**Подсказка:** в случае "Male" и "Female" возможно следующее преобразование:

* заменить "Male" на число 0

* заменить "Female" на число 1

In [8]:
#Начало вашего кода
def preprocess_data(data):
    for i in data:
        if i[1] == 'Male':
            i[1] = 0
        elif i[1] == 'Female':
            i[1] = 1
    return data
#Конец вашего кода

In [9]:
filt_data = preprocess_data(data=data)

In [10]:
for i in range(5):
    print(filt_data[i])

[15624510, 0, 19, 19000, 0]
[15810944, 0, 35, 20000, 0]
[15668575, 1, 26, 43000, 0]
[15603246, 1, 27, 57000, 0]
[15804002, 0, 19, 76000, 0]

### Ожидаемый результат:

```
[15624510, 0, 19, 19000, 0]
[15810944, 0, 35, 20000, 0]
[15668575, 1, 26, 43000, 0]
[15603246, 1, 27, 57000, 0]
[15804002, 0, 19, 76000, 0]
```

2. Вы должны реализовать функцию ```salary_info(data, gender=None)```. Используя логическое индексирование, рассчитайте максимальное, минимальное, среднее, и стандартное отклонение зарплаты.

In [11]:
#Начало вашего кода
def salary_info(data, gender=None):
    np_data = np.array(data)
    max_salary = None
    min_salary = None
    mean_salary = None
    std_salary = None
    gender_text = ''
        
    if gender != None:
        gender = gender.lower()

    gender_idx = {'male': 0, 'female': 1}

    if gender is not None:
        gender = gender.lower()
        gender_filter
        
    
    if gender == 0:
        gender_filter = np_data[:, 1] == 0
        gender_text = 'only Male'
    elif gender == 1:
        gender_filter = np_data[:, 1] == 1
        gender_text = 'only Female'
    else:
        gender_filter = np.ones(len(np_data), dtype=bool)
        gender_text = 'both genders'
    
    filtered_salary = np_data[gender_filter, 3]
    
    if len(filtered_salary) > 0:
        max_salary = filtered_salary.max()
        min_salary = filtered_salary.min()
        mean_salary = filtered_salary.mean()
        std_salary = filtered_salary.std()
        # 
    print(f'This statisctics are for {gender_text}:')
    print('Max salary: {:.2f} USD'.format(max_salary))
    print('Min salary: {:.2f} USD'.format(min_salary))
    print('Mean salary: {:.2f} USD'.format(mean_salary))
    print('Std of salary: {:.2f} USD'.format(std_salary))

#Конец вашего кода

In [12]:
salary_info(filt_data)

This statisctics are for both genders:
Max salary: 150000.00 USD
Min salary: 15000.00 USD
Mean salary: 69742.50 USD
Std of salary: 34054.31 USD

### Ожидаемый результат:

```
This statisctics are for both genders:
Max salary: 150000.00 USD
Min salary: 15000.00 USD
Mean salary: 69742.50 USD
Std of salary: 34054.31 USD
```

In [13]:
salary_info(filt_data, gender="Female")

This statisctics are for only Female:
Max salary: 150000.00 USD
Min salary: 15000.00 USD
Mean salary: 71759.80 USD
Std of salary: 35507.89 USD

### Ожидаемый результат:

```
This statisctics are for only Female:
Max salary: 150000.00 USD
Min salary: 15000.00 USD
Mean salary: 71759.80 USD
Std of salary: 35507.89 USD
```

In [14]:
salary_info(filt_data, gender="male")

This statisctics are for only Male:
Max salary: 150000.00 USD
Min salary: 15000.00 USD
Mean salary: 67642.86 USD
Std of salary: 32339.00 USD

### Ожидаемый результат:

```
This statisctics are for only Male:
Max salary: 150000.00 USD
Min salary: 15000.00 USD
Mean salary: 67642.86 USD
Std of salary: 32339.00 USD
```

3. Вы должны реализовать функцию ```age_info(data, gender=None)```. Используя логическое индексирование, рассчитайте максимальное, минимальное, среднее, и стандартное отклонение возрастов.

In [15]:
#Начало вашего кода 
def age_info(data, gender=None):
    np_data = np.array(data)
    max_age = None
    min_age = None
    mean_age = None
    std_age = None
    gender_text = ''
    
    if gender != None:
        gender = gender.lower()

    if gender == 'male':
        gender = 0
    elif gender == 'female':
        gender = 1

    if gender == 0:
        gender_filter = np_data[:, 1] == 0
        gender_text = 'only Male'
    elif gender == 1:
        gender_filter = np_data[:, 1] == 1
        gender_text = 'only Female'
    else:
        gender_filter = np.ones(len(np_data), dtype=bool)
        gender_text = 'both genders'
    
    filtered_salary = np_data[gender_filter, 2]
    
    if len(filtered_salary) > 0:
        max_age = filtered_salary.max()
        min_age = filtered_salary.min()
        mean_age = filtered_salary.mean()
        std_age = filtered_salary.std()
        # 
    print(f'This statisctics are for {gender_text}:')
    print('Max age: {:.2f} USD'.format(max_age))
    print('Min age: {:.2f} USD'.format(min_age))
    print('Mean age: {:.2f} USD'.format(mean_age))
    print('Std of age: {:.2f} USD'.format(std_age))
#Конец вашего кода

In [16]:
age_info(filt_data)

This statisctics are for both genders:
Max age: 60.00 USD
Min age: 18.00 USD
Mean age: 37.66 USD
Std of age: 10.47 USD

### Ожидаемый результат:

```
This statisctics are for both genders:
Max age: 60.00 years old
Min age: 18.00 years old
Mean age: 37.66 years old
Std of age: 10.47 years
```

In [17]:
age_info(filt_data,"FEMALE")

This statisctics are for only Female:
Max age: 60.00 USD
Min age: 18.00 USD
Mean age: 38.41 USD
Std of age: 10.83 USD

### Ожидаемый результат:

```
This statisctics are for only Female:
Max age: 60.00 years old
Min age: 18.00 years old
Mean age: 38.41 years old
Std of age: 10.83 years
```

In [18]:
age_info(filt_data,"mALE")

This statisctics are for only Male:
Max age: 60.00 USD
Min age: 18.00 USD
Mean age: 36.87 USD
Std of age: 10.02 USD

### Ожидаемый результат:

```
This statisctics are for only Male:
Max age: 60.00 years old
Min age: 18.00 years old
Mean age: 36.87 years old
Std of age: 10.02 years
```

4. Реализовать функции ```salary_info_purchased(data, gender=None, purchased=None)``` и ```age_info_purchased(data, gender=None, purchased=None)```, возвращая статистику, как в задачах 2 и 3, но в зависимости от того, приобрел ли человек продукт или нет.

In [19]:
#Начало вашего кода
def salary_info_purchased(data, gender=None, purchased=None):
    np_data = np.array(data)
    max_salary = None
    min_salary = None
    mean_salary = None
    std_salary = None
    gender_text = ''
    purchased_text = ''
    
    if gender != None:
        gender = gender.lower()

    if gender == 'male':
        gender = 0
    elif gender == 'female':
        gender = 1

    if gender == 0:
        gender_filter = np_data[:, 1] == 0
    elif gender == 1:
        gender_filter = np_data[:, 1] == 1
    else:
        gender_filter = np.ones(len(np_data), dtype=bool)
        
    if purchased == 1:
        purchased_filter = np_data[:, 4] == 1
        purchased_text = ' and who purchased'
    elif purchased == 0:
        purchased_filter = np_data[:, 4] == 0
        purchased_text = ' and who did not purchased'
    else: 
        purchased_filter = np.ones(len(np_data), dtype=bool)
        purchased = ''
    
    filtered_salary = np_data[np.logical_and(gender_filter, purchased_filter), 3] 
    
    if len(filtered_salary) > 0:
        max_salary = filtered_salary.max()
        min_salary = filtered_salary.min()
        mean_salary = filtered_salary.mean()
        std_salary = filtered_salary.std()
        # 
    print(f'This statisctics are for {gender_text}{purchased_text}:')
    print('Max salary: {:.2f} USD'.format(max_salary))
    print('Min salary: {:.2f} USD'.format(min_salary))
    print('Mean salary: {:.2f} USD'.format(mean_salary))
    print('Std of salary: {:.2f} USD'.format(std_salary))
    
    
    
    
    
    
# def age_info_purchased(data, gender=None, purchased=None):
    
#Конец вашего кода

In [20]:
salary_info_purchased(filt_data)
print("\n")
salary_info_purchased(filt_data, gender="Female")
print("\n")
salary_info_purchased(filt_data, gender="Male")
print("\n")
salary_info_purchased(filt_data, purchased=True)
print("\n")
salary_info_purchased(filt_data, gender="Female", purchased=True)
print("\n")
salary_info_purchased(filt_data, gender="Male", purchased=False)
print("\n")

This statisctics are for :
Max salary: 150000.00 USD
Min salary: 15000.00 USD
Mean salary: 69742.50 USD
Std of salary: 34054.31 USD


This statisctics are for :
Max salary: 150000.00 USD
Min salary: 15000.00 USD
Mean salary: 71759.80 USD
Std of salary: 35507.89 USD


This statisctics are for :
Max salary: 150000.00 USD
Min salary: 15000.00 USD
Mean salary: 67642.86 USD
Std of salary: 32339.00 USD


This statisctics are for  and who purchased:
Max salary: 150000.00 USD
Min salary: 20000.00 USD
Mean salary: 86272.73 USD
Std of salary: 41916.86 USD


This statisctics are for  and who purchased:
Max salary: 150000.00 USD
Min salary: 20000.00 USD
Mean salary: 88714.29 USD
Std of salary: 42842.16 USD


This statisctics are for  and who did not purchased:
Max salary: 141000.00 USD
Min salary: 15000.00 USD
Mean salary: 59630.77 USD
Std of salary: 23413.72 USD

### Ожидаемый результат:

```
This statisctics are for both genders:
Max salary: 150000.00 USD
Min salary: 15000.00 USD
Mean salary: 69742.50 USD
Std of salary: 34054.31 USD


This statisctics are for only Female:
Max salary: 150000.00 USD
Min salary: 15000.00 USD
Mean salary: 71759.80 USD
Std of salary: 35507.89 USD


This statisctics are for only Male:
Max salary: 150000.00 USD
Min salary: 15000.00 USD
Mean salary: 67642.86 USD
Std of salary: 32339.00 USD


This statisctics are for both genders and who purchased:
Max salary: 150000.00 USD
Min salary: 20000.00 USD
Mean salary: 86272.73 USD
Std of salary: 41916.86 USD


This statisctics are for only Female and who purchased:
Max salary: 150000.00 USD
Min salary: 20000.00 USD
Mean salary: 88714.29 USD
Std of salary: 42842.16 USD


This statisctics are for only Male and who did not purchased:
Max salary: 141000.00 USD
Min salary: 15000.00 USD
Mean salary: 59630.77 USD
Std of salary: 23413.72 USD
```

In [21]:
#Начало вашего кода
def age_info_purchased(data, gender=None, purchased=None):
    np_data = np.array(data)
    max_age = None
    min_age = None
    mean_age = None
    std_age = None
    gender_text = ''
    purchased_text = ''
    
    if gender != None:
        gender = gender.lower()

    if gender == 'male':
        gender = 0
    elif gender == 'female':
        gender = 1

    if gender == 0:
        gender_filter = np_data[:, 1] == 0
        gender_text = 'only Male'
    elif gender == 1:
        gender_filter = np_data[:, 1] == 1
        gender_text = 'only Female'
    else:
        gender_filter = np.ones(len(np_data), dtype=bool)
        gender_text = 'both genders'
        
    if purchased == 1:
        purchased_filter = np_data[:, 4] == 1
        purchased_text = ' and who purchased'
    elif purchased == 0:
        purchased_filter = np_data[:, 4] == 0
        purchased_text = ' and who did not purchased'
    else: 
        purchased_filter = np.ones(len(np_data), dtype=bool)
        purchased = ''
    
    filtered_salary = np_data[np.logical_and(gender_filter, purchased_filter), 2] 
    
    if len(filtered_salary) > 0:
        max_age = filtered_salary.max()
        min_age = filtered_salary.min()
        mean_age = filtered_salary.mean()
        std_age = filtered_salary.std()

    print(f'This statisctics are for {gender_text}{purchased_text}:')
    print('Max age: {:.2f} years old'.format(max_age))
    print('Min age: {:.2f} years old'.format(min_age))
    print('Mean age: {:.2f} years old'.format(mean_age))
    print('Std of age: {:.2f} years'.format(std_age))
    
    
    
    
#Конец вашего кода

In [22]:
age_info_purchased(filt_data)
print("\n")
age_info_purchased(filt_data, gender="Female")
print("\n")
age_info_purchased(filt_data, gender="Male")
print("\n")
age_info_purchased(filt_data, purchased=True)
print("\n")
age_info_purchased(filt_data, gender="Female", purchased=True)
print("\n")
age_info_purchased(filt_data, gender="Male", purchased=False)
print("\n")

This statisctics are for both genders:
Max age: 60.00 years old
Min age: 18.00 years old
Mean age: 37.66 years old
Std of age: 10.47 years


This statisctics are for only Female:
Max age: 60.00 years old
Min age: 18.00 years old
Mean age: 38.41 years old
Std of age: 10.83 years


This statisctics are for only Male:
Max age: 60.00 years old
Min age: 18.00 years old
Mean age: 36.87 years old
Std of age: 10.02 years


This statisctics are for both genders and who purchased:
Max age: 60.00 years old
Min age: 27.00 years old
Mean age: 46.39 years old
Std of age: 8.58 years


This statisctics are for only Female and who purchased:
Max age: 60.00 years old
Min age: 27.00 years old
Mean age: 47.16 years old
Std of age: 8.41 years


This statisctics are for only Male and who did not purchased:
Max age: 49.00 years old
Min age: 18.00 years old
Mean age: 32.48 years old
Std of age: 7.48 years

### Ожидаемый результат:

```
This statisctics are for both genders:
Max age: 60.00 years old
Min age: 18.00 years old
Mean age: 37.66 years old
Std of age: 10.47 years


This statisctics are for only Female:
Max age: 60.00 years old
Min age: 18.00 years old
Mean age: 38.41 years old
Std of age: 10.83 years


This statisctics are for only Male:
Max age: 60.00 years old
Min age: 18.00 years old
Mean age: 36.87 years old
Std of age: 10.02 years


This statisctics are for both genders and who purchased:
Max age: 60.00 years old
Min age: 27.00 years old
Mean age: 46.39 years old
Std of age:  8.58 years


This statisctics are for only Female and who purchased:
Max age: 60.00 years old
Min age: 27.00 years old
Mean age: 47.16 years old
Std of age:  8.41 years


This statisctics are for only Male and who did not purchased:
Max age: 49.00 years old
Min age: 18.00 years old
Mean age: 32.48 years old
Std of age:  7.48 years
```

# Прекрасная работа!